NEXT_PUBLIC_SITE_URL=https://www.plotworthy.co.uk
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_COVERAGE_SINGLE_PRICE_ID=
STRIPE_COVERAGE_LOCAL_PRICE_ID=
STRIPE_COVERAGE_REGIONAL_PRICE_ID=
RESEND_API_KEY=
PROJECT_NOTIFICATION_FROM="PlotWorthy <projects@plotworthy.co.uk>"
CRON_SECRET=
